<style type="text/css">
  .input-group-addon{
    padding: 3px 5px !important;
    border: none;
  }
  .btn.active {                
  display: none;    
}

.btn span:nth-of-type(1)  {             
  display: none;
}
.btn span:last-child  {             
  display: block;   
}

.btn.active  span:nth-of-type(1)  {             
  display: block;   
}
.btn.active span:last-child  {              
  display: none;      
}
.custom-row{
  max-width: 0px;
}
.btn-delete{
  padding-right: 10px;
  cursor: pointer;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
</style>

<nav class="navbar navbar-default" style="margin-bottom: 8px;">
  <div class="container-fluid"> 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">        
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{supplier}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="sup in list.supplier">
              <a ng-click="getSupplierOrder({id:sup.id,name:sup.name})" href="javascript:void(0)">{{sup.name}}</a>
            </li>            
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="invoice" class="form-control" placeholder="Invoice Number">
        </div>
        <div class="form-group">
          <input type="text" ng-model="description" class="form-control" placeholder="Description">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form> 


      <div class="navbar-form navbar-right">        
        <!-- <span ng-click="addMoreBtn()" class="btn btn-default add-more-btn">
                <i class="fa fa-plus"></i>  
             Add
        </span> -->

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Item
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-repeat="list in inventory_list">
                        <a ng-click="addMoreBtn({id:list.id,name:list.inventory,type:list.inventory_type})" href="javascript:void(0)">{{list.inventory}}</a>
                    </li>                 
                </ul>
            </div>
      </div> 


    </div>
  </div>
</nav>



<div id="content" style="height: 383px;">

<div class="form-group" style="height: 320px; overflow-y: auto;">
   	<div class="input-group" ng-repeat="item in list.order"> 

        <span class="input-group-addon">      
            <span>{{item.inventory}}</span>        
        </span>

        <span class="input-group-addon">      
            <span>{{item.inventory_type}}</span>        
        </span>

        <span class="input-group-addon" ng-init="formData.quantity= item.quantity">
	  		<input type="text" ng-model="formData.quantity" ng-change="formData.total = formData.quantity * formData.purchase_price" class="form-control" placeholder="Quantity">
        </span>    

        <span class="input-group-addon custom-row">
            <input type="text" ng-model="formData.mrp" class="form-control" placeholder="MRP">
        </span>

        <span class="input-group-addon">
	  		<input type="text" ng-model="formData.purchase_price" ng-change="formData.total = formData.quantity * formData.purchase_price" class="form-control" placeholder="Purchase Price">
        </span>

        <span class="input-group-addon custom-row" ng-init="formData.total = formData.quantity * formData.purchase_price">
            <input type="text" ng-model="formData.total"  class="form-control" placeholder="Total">
        </span>        

        <span class="input-group-addon custom-row">	  		
            <div data-toggle="buttons">
                <span class="btn-delete" ng-click="deleteOrder(list.order,$index,item.id)">
                    <i class="fa fa-trash"></i> 
                </span>
                <label class="btn btn-success" ng-click="setData({order_id:item.id,type:item.type,data:formData,index:$index})">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked>
                   Add
                </label>
                <label class="btn btn-danger active" ng-click="deleteData({data:formData,order_id:item.id,type:item.type})">
                    <input type="radio" name="options" id="option2" autocomplete="off">
                    Remove
                </label>          
            </div>          
        </span>

	</div>

</div>
</div>


<div class="bottom-menu">

    <div class="input-group">  

      <span class="input-group-addon">
        <input type="number" value=""  ng-model="sub_total" class="form-control"  placeholder="Sub Total">
      </span>

       <span class="input-group-addon">
        <input type="number" value="" ng-model="vat" class="form-control" placeholder="Total Vat">
      </span>

       <span class="input-group-addon">
        <input type="number" value="" ng-model="cartrage"  class="form-control" placeholder="Cartrage">
      </span>

      <span class="input-group-addon" ng-init="0">
        <input type="number" value="" ng-model="other" class="form-control" placeholder="Other Charges">
      </span>

      <span class="input-group-addon">
        <input type="text" class="form-control" ng-value="total()"  placeholder="Total">
      </span>     

      <span class="input-group-addon" style="padding-left: 0px;padding-right: 0px;padding-top: 6px;">
        <button class="add btn btn-success" type="button" ng-click="setOrderData({invoice:invoice,description:description,sub_total:sub_total,vat:vat,cartrage:cartrage,other:other,total:total})">Close</button>
        <button class="add btn btn-danger" type="button">Cancel</button>
      </span>

  </div>
</div>

<!-- <script type="text/javascript">
    var test;    
    var line = 0;
    $(document).on('click','.add-more-btn', function(){                
        var row =   '<div class="input-group" id="row_'+line+'">'+
                        '<span class="input-group-addon">'+
                          '<select class="form-control select_list_'+line+'"> '+
                             '<option value="volvo">Select List</option>'+
                          '</select>'+    
                        '</span>'+

                        '<span class="input-group-addon">'+
                              '<input type="text" data-line="'+line+'" id="quantity_'+line+'" class="form-control quantity" placeholder="Quantity">'+
                        '</span>'+    
                        '<span class="input-group-addon custom-row">'+
                          '<input type="text" class="form-control" placeholder="MRP">'+
                        '</span>'+
                          '<span class="input-group-addon">'+
                          '<input type="text" data-line="'+line+'" id="price_'+line+'" class="form-control price" placeholder="Purchase Price">'+
                        '</span>'+

                        '<span class="input-group-addon custom-row">'+
                          '<input type="text" data-line="'+line+'" id="total_'+line+'"  class="form-control total" placeholder="Total">'+
                        '</span>'+        

                        '<span class="input-group-addon custom-row">'+
                          '<div data-toggle="buttons">'+
                            '<span class="btn-delete" data-id="'+line+'">'+
                              '<i class="fa fa-trash"></i> '+
                            '</span>'+
                              '<label data-line="'+line+'" class="btn btn-success dynamic_add">'+
                                  '<input type="radio" name="options"  autocomplete="off" checked>'+
                                   'Add'+
                              '</label>'+
                              '<label data-line="'+line+'" class="btn btn-danger active dynamic_remove">'+
                                  '<input type="radio" name="options"  autocomplete="off">'+
                                 'Remove'+
                              '</label>'+          
                          '</div>'+          
                        '</span>'+
                    '</div>';

            $('#add_order_list').prepend(row);

            $.each(test, function(i,col){
               $('.select_list_'+line).append('<option value="'+col.id+'">'+col.inventory+'</option>');
            });
            line++;
    });


  

    $(document).on('keyup','.price',function(){
        var line = $(this).data('line');
        var textone = parseFloat($('#quantity_'+line).val());
        var texttwo = parseFloat($('#price_'+line).val());
        var result = textone * texttwo;
        $('#total_'+line).val(result.toFixed(2));
    });

    $(document).on('click','.dynamic_add',function(){
        var line = $(this).data('line');
        var quantity = parseFloat($('#quantity_'+line).val());
        var price = parseFloat($('#price_'+line).val());
        var inventory_id = parseFloat($('.select_list_'+line).val());
        var item_total = parseInt($('#total_'+line).val()); 

        var sub_total = parseInt($('#sub_total').val());
        var total = parseInt($('#total').val());
       
        $('#sub_total').val(item_total + sub_total);
        $('#total').val(item_total + total);

        
        
    });

</script>
	 -->